<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MqttHome</title>

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="MqttHome" />
    <meta name="apple-mobile-web-app-title" content="MqttHome" />
    <meta name="theme-color" content="#FFFFFF" />
    <meta name="msapplication-navbutton-color" content="#FFFFFF" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="msapplication-starturl" content="/" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/images/mqtthome-180x180.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/mqtthome-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/mqtthome-16x16.png" />
    <link rel="manifest" href="~/manifest.json" />
    <link rel="mask-icon" href="~/images/safari-pinned-tab.svg" color="#185FF9" />
    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <meta name="msapplication-config" content="~/images/browserconfig.xml" />
    <meta name="theme-color" content="#185FF9" />
    <script src="~/js/sw-utils.js"></script>
    <script src="~/js/visualization/widgets.js"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.bundle.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.bundle.min.css" asp-append-version="true" />
    </environment>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.bundle.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.bundle.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        $(document).ajaxStart(function () {
            $("#ajax-spinner").show();
        });
        $(document).ajaxComplete(function () {
            $("#ajax-spinner").hide();
        });
    </script>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a asp-area="" asp-controller="System" asp-action="Index" class="navbar-brand hidden visible-xs">MqttHome</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="System" asp-action="Details">System</a></li>
                        <li><a asp-area="" asp-controller="System" asp-action="Sensors">Sensors</a></li>
                        <li><a asp-area="" asp-controller="System" asp-action="Switches">Switches</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Config" asp-action="Index">Config</a></li>
                                <li><a asp-area="" asp-controller="System" asp-action="Rules">Rules</a></li>
                                <li><a asp-area="" asp-controller="System" asp-action="Conditions">Conditions</a></li>
                                <li><a asp-area="" asp-controller="System" asp-action="Devices">Devices</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Editor" asp-action="Index">Editor</a></li>
                                <li><a asp-area="" asp-controller="Tasmota" asp-action="Index">Tasmota Discovery</a></li>
                                <li><a asp-area="" asp-controller="System" asp-action="Logs">Logs</a></li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Sign Out</a></li>
                    </ul>
                    @{ await Html.RenderPartialAsync("_SystemMessages"); }
                </div>
            </div>
        </nav>
    }

    <div class="container body-content">

        @{ await Html.RenderPartialAsync("_Messages"); }

        @RenderBody()

        <hr />
        <footer>
            <p>&copy; James Railton 2019 - MqttHome</p>
            <small>Assemblies: @string.Join(", ", Program.AppVersions.Select(v => $"{v.Key} (v{v.Value})"))</small>
        </footer>
    </div>

    <div id="ajax-spinner" style="display: none; position: fixed; bottom: 0; right: 0; background-color: #EEE; border: 1px solid #DDD; padding: 15px; border-width: 1px 0 0 1px;">
        <img alt="Loading" title="Server communication in progress..." src="~/images/spinner.gif" />
    </div>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        // OMG JAVASCRIPT TAKES THE FUN OUT OF PROGRAMMING :|
        $(function () {
            var widgets = $(".widget-container .widget");

            if (widgets.length > 0) {
                var ids = "";
                for (var i = 0; i < widgets.length; i++)
                    ids += "," + $(widgets[i]).data("value");

                setInterval(function () {
                    $.getJSON("/api/values/sensorvalues/",
                        { names: ids.substring(1) },
                        function (response) {
                            $.each(response,
                                function () {
                                    var widget = $("[data-value='" + this.DeviceId + "." + this.WidgetId + "']");
                                    switch (widget.attr("data-type")) {
                                        case "Text":
                                            widget.text(this.Value);
                                            break;

                                        case "Gauge":
                                            window[this.WidgetId].SetDial(this.Value, this.ValueFormatted);
                                            break;
                                    }
                                });
                        });
                },
                    5000);
            }
        });
    </script>
</body>
</html>
