@model MqttHome.MqttHomeController
@{
    ViewData["Title"] = "MQTT Home";
}

<script>
    (function () {
        "use strict";

        // set websocket connection
        var protocol = location.protocol === "https:" ? "wss:" : "ws:";
        var wsUri = protocol + "//" + window.location.host;
        var socket = new WebSocket(wsUri);

        socket.onmessage = function (e) {
            $("#log-content").prepend('<strong>' + new Date().toLocaleString() + '</strong> ' + e.data + '<br />');
        };

        socket.onclose = function () {
            socket = new WebSocket(wsUri);
        }

        // reload data timer
        setInterval(function () { $("#index-content").load("/home/indexcontent"); }, 5000);
    }());

    function SwitchOff(id) {
        $("#message-content").load("/switch/off/"+id);
    }

    function SwitchOn(id) {
        $("#message-content").load("/switch/on/"+id);
    }
</script>

<div id="message-content" style="position: fixed; top: 51px; left: 50%; transform: translate(-50%); z-index: 99999;"></div>

<div id="index-content">
    @{await Html.RenderPartialAsync("_IndexContent"); }
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        Error Logs
        <button class="btn btn-xs btn-danger pull-right" onclick="$('#log-content').html('');">Clear Logs</button>
    </div>
    <div class="panel-body">
        <pre id="log-content" style="background-color: #FFF; overflow: auto; height: 100vh;"></pre>
    </div>
</div>
