/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.frame {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    padding: 15px;
}

.technical {
    display: none;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* ------------------- Default Style ------------------------- */
.widget-container {
  overflow: hidden;
}
.widget-container .widget-2,
.widget-container .widget-5 {
  width: 49%;
  display: inline-block;
}
.widget-container .widget-3,
.widget-container .widget-6 {
  width: 33%;
  display: inline-block;
}
.widget-container .gauge > .dial {
  stroke: #eee;
  stroke-width: 10;
  /*stroke-linecap: round;*/
}
.widget-container .gauge > .value {
  stroke: #337ab7;
  stroke-width: 10;
  /*stroke-linecap: round;*/
  stroke-dasharray: 1;
}
.widget-container .gauge > .name {
  font-size: 0.5em;
}
.widget-container .gauge > .value-text {
  fill: #555;
  font-weight: bold;
  font-size: 1em;
}
/* ------------------- Alternate Style ------------------------- */
.gauge-container.two {
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.gauge-container.two > .gauge > .dial {
  stroke: #334455;
  stroke-width: 10;
}
.gauge-container.two > .gauge > .value {
  /*stroke: orange;*/
  stroke-dasharray: none;
  stroke-width: 13;
}
.gauge-container.two > .gauge > .value {
  /*fill: orange;*/
}
/* ------------------- Alternate Style 2 ------------------------- */
.gauge-container.three > .gauge > .dial {
  stroke: #334455;
  stroke-width: 2;
  /*stroke-dasharray: 125, 20;*/
}
.gauge-container.three > .gauge > .value {
  stroke: #C9DE3C;
  stroke-width: 5;
  /*stroke-dasharray: 125, 20;*/
}
.gauge-container.three > .gauge > .value-text {
  fill: #C9DE3C;
}
/* ------------------- Alternate Style 2 ------------------------- */
.gauge-container.four > .gauge > .dial {
  stroke: #334455;
  fill: "#334455";
  stroke-width: 5;
}
.gauge-container.four > .gauge > .value {
  stroke: #BE80FF;
  stroke-dasharray: none;
  stroke-width: 5;
}
.gauge-container.four > .gauge > .value-text {
  fill: #BE80FF;
}
.gauge-container.five > .gauge > .dial {
  stroke: #334455;
  fill: "#334455";
  stroke-width: 5;
}
.gauge-container.five > .gauge > .value {
  stroke: #F8774B;
  stroke-dasharray: none;
  stroke-width: 5;
}
.gauge-container.five > .gauge > .value-text {
  fill: #F8774B;
  font-size: 0.7em;
}
.gauge-container.six > .gauge > .dial {
  stroke: #334455;
  fill: "#334455";
  stroke-dasharray: 110 10;
  stroke-width: 5;
}
.gauge-container.six > .gauge > .value {
  stroke: #FF6DAF;
  stroke-dasharray: 10 1;
  stroke-width: 5.2;
}
.gauge-container.six > .gauge > .value-text {
  fill: #FF6DAF;
  font-size: 0.7em;
}
.widget-container{overflow:hidden;}.widget-container .widget-2,.widget-container .widget-5{width:49%;display:inline-block;}.widget-container .widget-3,.widget-container .widget-6{width:33%;display:inline-block;}.widget-container .gauge>.dial{stroke:#eee;stroke-width:10;}.widget-container .gauge>.value{stroke:#337ab7;stroke-width:10;stroke-dasharray:1;}.widget-container .gauge>.name{font-size:.5em;}.widget-container .gauge>.value-text{fill:#555;font-weight:bold;font-size:1em;}.gauge-container.two{height:auto;border:1px solid rgba(255,255,255,.1);}.gauge-container.two>.gauge>.dial{stroke:#345;stroke-width:10;}.gauge-container.two>.gauge>.value{stroke-dasharray:none;stroke-width:13;}.gauge-container.three>.gauge>.dial{stroke:#345;stroke-width:2;}.gauge-container.three>.gauge>.value{stroke:#c9de3c;stroke-width:5;}.gauge-container.three>.gauge>.value-text{fill:#c9de3c;}.gauge-container.four>.gauge>.dial{stroke:#345;fill:"#334455";stroke-width:5;}.gauge-container.four>.gauge>.value{stroke:#be80ff;stroke-dasharray:none;stroke-width:5;}.gauge-container.four>.gauge>.value-text{fill:#be80ff;}.gauge-container.five>.gauge>.dial{stroke:#345;fill:"#334455";stroke-width:5;}.gauge-container.five>.gauge>.value{stroke:#f8774b;stroke-dasharray:none;stroke-width:5;}.gauge-container.five>.gauge>.value-text{fill:#f8774b;font-size:.7em;}.gauge-container.six>.gauge>.dial{stroke:#345;fill:"#334455";stroke-dasharray:110 10;stroke-width:5;}.gauge-container.six>.gauge>.value{stroke:#ff6daf;stroke-dasharray:10 1;stroke-width:5.2;}.gauge-container.six>.gauge>.value-text{fill:#ff6daf;font-size:.7em;}