/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.frame {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    padding: 15px;
}

.technical {
    display: none;
}

.map {
    width: 400px;
    height: 400px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.system-messages {
  margin-top: 8px;
}
.system-messages a i {
  color: #999;
}
.system-messages div.messages {
  background-color: white;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  position: fixed;
  width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  right: 0;
}
.system-messages div.message a {
  margin-right: 2px;
  margin-left: -2px;
}
.system-messages div.message a i {
  color: white;
}
.system-messages{margin-top:8px;}.system-messages a i{color:#999;}.system-messages div.messages{background-color:#fff;padding:10px;border:1px solid #eee;border-radius:4px;position:fixed;width:320px;overflow:hidden;text-overflow:ellipsis;right:0;}.system-messages div.message a{margin-right:2px;margin-left:-2px;}.system-messages div.message a i{color:#fff;}
.widget-container {
  overflow: hidden;
}
.widget-container .widget-2,
.widget-container .widget-5 {
  width: 49%;
  display: inline-block;
}
.widget-container .widget-3,
.widget-container .widget-6 {
  width: 33%;
  display: inline-block;
}
.widget-container svg.gauge {
  overflow: visible !important;
  max-width: 100%;
  padding: 10px;
}
.widget-container svg.gauge path.gauge-path {
  fill: none;
  stroke-width: 8px;
  stroke: #EEE;
}
.widget-container svg.gauge path.gauge-dial {
  fill: none;
  stroke-width: 10px;
  stroke-opacity: 0.7;
  stroke-dasharray: 1;
  animation: dash 5s linear forwards;
}
.widget-container svg.gauge text.gauge-value {
  fill: #555;
  font-size: 1em;
}
.widget-container svg.gauge text.gauge-name {
  fill: #555;
  font-size: 0.6em;
}
.widget-container{overflow:hidden;}.widget-container .widget-2,.widget-container .widget-5{width:49%;display:inline-block;}.widget-container .widget-3,.widget-container .widget-6{width:33%;display:inline-block;}.widget-container svg.gauge{overflow:visible !important;max-width:100%;padding:10px;}.widget-container svg.gauge path.gauge-path{fill:none;stroke-width:8px;stroke:#eee;}.widget-container svg.gauge path.gauge-dial{fill:none;stroke-width:10px;stroke-opacity:.7;stroke-dasharray:1;animation:dash 5s linear forwards;}.widget-container svg.gauge text.gauge-value{fill:#555;font-size:1em;}.widget-container svg.gauge text.gauge-name{fill:#555;font-size:.6em;}