.system-messages {
    margin-top: 8px;

    a {
        i {
            color: #999;
        }
    }

    div.messages {
        background-color: white;
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 4px;
        position: fixed;
        width: 320px;
        overflow: hidden;
        text-overflow: ellipsis;
        right: 0;
    }

    div.message {
        a {
            margin-right: 2px;
            margin-left: -2px;
            i {
                color: white;
            }
        }
    }
}
