.system-messages {
  margin-top: 8px;
}
.system-messages a i {
  color: #999;
}
.system-messages div.messages {
  background-color: white;
  color: white;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  position: fixed;
  width: 320px;
  right: 0;
}
.system-messages div.messages div.messages-subcontainer {
  overflow: hidden;
  max-height: 90%;
  overflow-y: auto;
  text-overflow: ellipsis;
}
.system-messages div.messages div.messages-subcontainer div.message {
  margin-top: 5px;
  margin-bottom: 0;
}
.system-messages div.messages div.messages-subcontainer div.message a {
  margin-right: 2px;
  margin-left: -2px;
}
.system-messages div.messages div.messages-subcontainer div.message a i {
  color: white;
}