.system-messages {
    margin-top: 8px;

    a {
        i {
            color: #999;
        }
    }

    div.messages {
        background-color: white;
        color: white; // for ellipsis
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 4px;
        position: fixed;
        width: 320px;
        right: 0;

        div.messages-subcontainer {
            overflow: hidden;
            max-height: 90%;
            overflow-y: auto;
            text-overflow: ellipsis;

            div.message {
                margin-top: 5px;
                margin-bottom: 0;

                a {
                    margin-right: 2px;
                    margin-left: -2px;

                    i {
                        color: white;
                    }
                }
            }
        }
    }
}
