@model MqttHome.MqttHomeController

@foreach (var communicator in Model.MqttCommunicators)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            MQTT Servers
            <a class="btn btn-xs btn-default" href="/editor/index/appsettings.json">Edit MQTT Servers</a>
        </div>
        <div id="collapse-mqttservers" class="panel-collapse collapse in">

            <div class="panel-body">
                <label>@communicator.Broker.Name (@(communicator.Connected ? "Connected" : "Disconnected"))</label>
                @communicator.Broker.IpAddress:@communicator.Broker.Port
            </div>
            </div>
        </div>
        }
