@model MqttHomeController
@{
    ViewData["Title"] = "Sensors";
}
<br />

<div id="sensor-content">
    @{await Html.RenderPartialAsync("_Sensors"); }
</div>

<script type="text/javascript">
    (function () {
        // reload data timer
        setInterval(function () { $("#sensor-content").load("/system/sensorcontent"); }, 10000);
    }());
</script>