// defaults determines the values that will be applied to all rules unless otherwise specified in each rules
// condition_and and condition_or will be applied to each rules' condition regardless
[Defaults]
condition_or=icc.UtilityPowerOn
condition_and=
// flipflop is the minimum time in seconds that a switch can be off before its conditions dictate it can be turned back on again -- essentially its adding a DateTime constraint to the condition query
flipflop=180

[Priority #2]
// condition is the condition required for the switch to be connected
condition=icc.UtilityPowerOn || icc.PylontechSoc >= 70

[Priority #3]
// condition is the condition required for the switch to be connected
condition=icc.UtilityPowerOn || icc.PylontechSoc >= 85

[Priority #4]
// condition is the condition required for the switch to be connected
condition=icc.UtilityPowerOn || icc.PylontechSoc >= 95